
<section class="contact-us-container"> 

<h1 class="text-center"> Contact Me </h1><br><br>

<div class="row text-center m-0">
    <div class="col-lg-4 col-12"> <label class="heading" >Telephone Number</label> <br> <label class="value">+91 40 2970 6632</label> </div>
    <div class="col-lg-4 col-12"> <label class="heading" >Mobile Number</label> <br> <label class="value">+91 94 9091 1675</label> </div>
    <div class="col-lg-4 col-12"> <label class="heading" >Whatsapp Number</label> <br> <label class="value">+91 81 7969 1675 </label> </div>
    
</div>

</section>