<!-- 
<section class="contact-us-container"> 

<h1 class="text-center"> Contact Me </h1><br><br>

<div class="row text-center m-0">
    <div class="col-lg-4 col-12"> <label class="heading" >Telephone Number</label> <br> <label class="value">+91 40 2970 6632</label> </div>
    <div class="col-lg-4 col-12"> <label class="heading" >Mobile Number</label> <br> <label class="value">+91 94 9091 1675</label> </div>
    <div class="col-lg-4 col-12"> <label class="heading" >Whatsapp Number</label> <br> <label class="value">+91 81 7969 1675 </label> </div>
    
</div>

</section> -->


<section class="information bg-img" data-overlay-dark="9"  >
    <div class="container">
        <div class="row">

            <div class="section-head col-sm-12">
                <h4>
                    <span>Contact </span><br>
                    Details
                </h4>
            </div>

            <div class="col-lg-4">
                <div class="info">
                    <div class="item">
                        <span class="icon"><i class="icofont icofont-phone"></i></span>
                        <div class="cont">
                            <h6>Phone : </h6>
                            <p>+91 40 2970 6632<br>+91 94 9091 1675</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 m-t-10">
                <div class="info">
                    <div class="item">
                        <span class="icon"><i class="icofont icofont-map"></i></span>
                        <div class="cont">
                            <h6>Address : </h6>
                            <p class="address">Villa 32, Oorjitha Grand Vie 2, Gundlapochampally Road, Kompally, Hyderabad, Telengana, India, 500014 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 m-t-10">
                <div class="info">
                    <div class="item">
                        <span class="icon"><i class="icofont icofont-social-whatsapp"></i></span>
                        <div class="cont">
                            <h6>Whatsapp : </h6>
                            <p>+91 81 7969 1675</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>