<div class="page-container">
    <h1 class="text-center title">India entry assistance, Market to go and
        OutBound</h1>
    <img class="bg" src="./assets/images/sez-image.jpg">

</div>

<p class="page-content">
    <span>
        Today India is the most lucrative market globally. But there is a dearth
        of persons or organisations with the ability to assist a overseas
        company enter the local business market.
    </span><br>
    <br>
    <span>
        We have a special one on one team for every organization from which
        ever country, which ever product to assist holistically your need
        starting from understanding the market, knowing the potential
        competition, applications, licenses, land acquisition, building, setting

        up the management team locally to sourcing technical and non-
        technical workers and to get the organization rolling.
    </span><br><br>
    <span>
        GalaxyEuro will help you bring in your overseas specialists as
        expatriates, settle them and their families in also. We are connected to
        an internationally known facility and have the network for
        accommodation, travel, security and safety, school identification and
        admissions, we assist with the complete process.
    </span>
</p>