<div class="page-container">
    <h1 class="text-center title">Graduate Expressway</h1>
    <img class="bg" src="./assets/images/gd.jpg">
</div>
<p class="page-content">
    A niche activity created for crème de la crème business institutions in Singapore, Phillipines, all over Europe in the top schools and often the US on a very exclusive basis…..now available in India exclusively from GalaxyEuro.
<br><br>
Ever so often we notice that graduate students from Technical and Business institutions spend their time pursuing academics to enable knowledge input and do not spend time preparing in the right way for their takeoff into the ExpressWay of working life.
<br><br>
This gives an individual heartaches and disillusionment. A young adult who has spent the last 15 to 17 years in educational institutions where there is a fixed curriculum, set systems, one way challenges, advantage of willing teachers and the comfort of being able to make a mistake without causing financial loss -  suddenly is thrown into a dog eat dog world.
<br><br>
The young adult about to step into the galaxy, needs guidance on the How, When, What and Where of Service / Corporate life to get that special advantage to become a success in life. 
<br><br>
Starting with Language abilities, Social graces, Dressing makeover, the Art of conversation, Confidence building, Personality upgradation, Interview process learning, Knowledge bank, Career planning, Career strategy, Project management, Crisis management, Stress management, Life advisory to name but a few……. The young adult needs these tools to head towards success  in life.
<br><br>
GalaxyEuro has created a floating curriculum just for this. Initiating the process with a personality type indicator test done by a PhD with full and complete analysis, so that based on the same and in conjunction with the persons aims, aspirations, abilities the learning process can be fine tuned individually based on the Expressway package opted for.
<br><br>
</p>