<div class="footer">
    <!-- <div class="container">
        <a class="logo" href="#">
            <img src="./../../../assets/images/header-logo.png" alt="logo">
        </a>
        <div class="social">
            <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
            <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
            <a href="#0"><i class="icofont icofont-social-instagram"></i></a>
            <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
        </div>
        <p>© 2020 Galaxyeuro. All Rights Reserved.</p>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-4 col-xs-12"> <a class="foot_logo logo" href="https://amzur.com/"><img
                        src="./../../../assets/images/header-logo.png" alt="Amzur"
                        title="Amzur" class="lazyloading" data-was-processed="true"></a>
                <ul class="social list-inline">
                    <li class="tweet"> <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                    </li>
                    <li class="fb"> <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                    </li>
                    <li class="in"> <a href="#"><i class="icofont icofont-social-linkedin"></i></a></li>
                    <li class="in"> <a href="#"><i class="icofont icofont-social-instagram"></i></a>
                    </li>
                    <li class="in"> <a href="#"><i class="icofont icofont-social-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
                <h4 class="widgettitle">About Us</h4>
                <div class="menu-about-us-container">
                    <ul id="menu-about-us" class="menu">
                        <li id="menu-item-519"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-519"><a
                                href="#/about-company">About Us</a></li>
                        <li id="menu-item-3514"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3514"><a
                                href="#">Careers</a></li>
                        <li id="menu-item-426"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a
                                href="#">News and Events</a></li>
                        <li id="menu-item-431"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a
                                href="#">Awards</a></li>
                        <li id="menu-item-427"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a
                                href="#">Partnerships</a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <h4 class="widgettitle">Services</h4>
                <div class="menu-service-products-container">
                    <ul id="menu-service-products" class="menu">
                        <li id="menu-item-50"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50">
                            <a  [routerLink]="['/dharmaadikaritva']">SEZ’s, Customs and Central Excise</a></li>
                        <li id="menu-item-51"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51">
                            <a  [routerLink]="['/antarastriya']"> India entry assistance</a>
                        </li>
                        <li id="menu-item-52"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52">
                            <a [routerLink]="['/manava']">IR & HR Management</a>
                        </li>
                        <li id="menu-item-491"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-491">
                            <a  [routerLink]="['/uttaraditva']">Corporate Social Responsibility</a>
                        </li>
                        <li id="menu-item-491"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-491">
                        <a  [routerLink]="['/janapada-seva']">Civil Services Magazine</a>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-12">
                <h4>Contact Us</h4>
                <p> Villa 32, Gundlapochampally Road, Kompally, Hyderabad, Telengana, India, 500014</p>
                <div class="email"> <a href="mailto:info@galaxyeuro.com">Email:info@galaxyeuro.com</a></div> <a class="tel"
                    href="tel:09490911675">+91 94 9091 1675</a>
            </div>
        </div>
    </div>
</div>
<div class="short_foot">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left"> <a href="#">Privacy Policy</a></div>
            <div class="col-sm-6 text-right"> <span>Galaxy Euro, Inc. © 2020. All rights reserved.</span></div>
        </div>
    </div>
</div>