<footer class="text-center">
    <div class="container">

        <!-- Logo -->
        <a class="logo" href="#">
            <img src="./../../../assets/images/header-logo.png" alt="logo">          
        </a>
        
        <div class="social">
            <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
            <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
            <a href="#0"><i class="icofont icofont-social-instagram"></i></a>
            <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
        </div>

        <p>© 2020 Galaxyeuro. All Rights Reserved.</p>

    </div>
</footer>