footer {
    background: #222;
    padding: 80px 0;

    .logo {
        padding: 15px 0;
        width: 100px;
    }

    .social a {
        color: #777;
        font-size: 18px;
        margin: 15px 10px;
    }

    p {
        color: #777;
        font-weight: 700;
        margin-top: 15px;
        font-family:  'Poppins', sans-serif;
    }
}