<div class="page-container">
    <h1 class="text-center title">Special Economic Zone</h1>
    <img class="bg" src="./assets/images/sez.jpg">
</div>
<p class="page-content">
    Over time and after extensive work of a number of years we have understood the activity of the SEZ’s, EOU’s,DTA and
    the challenges faced by both the organizations within and the SPV’s. We have carried out very successfully a number
    of activities right from entry to start of business operations.
    <br><br>
    This experience has given us ground level first-hand knowledge which we are now using to help other organizations to
    benefit from. Our network encompasses A2Z of the business sector requirements in the SEZ’s, EOU’s,DTA. Thus we are
    the only team able to deliver the best, fastest and most economical returns, in highly complex multi department,
    multi ministry situations.
    <br><br>
    GalaxyEuro is well specialized in assisting clients with complex government rules and regulations with a analytical
    approach to solve the most complex issues and problems with solutions in line with the requirements. GalaxyEuro
    assist the client by undertaking all the intricate processes with a subtle and clear cut approach ending with a
    win-win situation. More than anything – we deliver what we promise.

</p>
<div class="page-container">
    <h1 class="text-center title">Customs and Central Excise</h1>
    <img class="bg" src="./assets/images/gst.png">
</div>
<p class="page-content">
    With the ever changing policies and requirements in Government of India, we have on board with us the very best
    financial and technical minds from the field where the action happens.
    <br><br>
    Thus we are equipped with the right human knowledge regards the policies and the understanding to assist your
    organization with the most accurate and to the point advice, whatever may be the issue in hand.
    <br><br>
    We have a full fledged professional associate network that can help the client with a successful closure and we are
    the only organisation who can assist with the direct advice of the law makers and their thought processes.

</p>
<p class="page-content">
    <b>MOOWR:</b><br>
    Manufacture and Other Operations in Warehouse Regulations or
    MOOWR was first mooted in 1962 under Section 65 of the Customs
    Act by the Government of India. The procedure, documentation and
    compliances were streamlined in2019 and called MOOWR 2019. We
    are the only Consultancy with the expertise to handle this in
    Southern India.

</p>