<nav class="navbar navbar-expand-lg navbar-light app-header"  (scroll)="onWindowScroll($event);">
  
    <a class="navbar-brand" href="">
        <img class="img-fluid nav-logo" src="./assets/images/header-logo.png">

    </a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" [routerLinkActive]="['active']" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/about-company']"  >About US</a>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
            <a class="nav-link menu-item dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Activities</a>      
            <div class=" dropdown dropdown-menu dropdown-menu-right">
                <a class="dropdown-item menu-item" [routerLink]="['/dharmaadikaritva']">Dharmaadikaritva</a>
                <a class="dropdown-item menu-item" [routerLink]="['/antarastriya']"> Antarastriya</a>
                <a class="dropdown-item" [routerLink]="['/manava']">Manava</a>
                <a class="dropdown-item" [routerLink]="['/uttaraditva']">Uttaraditva</a>
                <a class="dropdown-item" [routerLink]="['/janapada-seva']">Janapada Seva</a>
            </div>
        </li>     
        <li class="social align-self-center">
          <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
            <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
            <a href="#0"><i class="icofont icofont-social-instagram"></i></a>
            <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
        </li>
      </ul>
     
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </nav>