<div class="page-container">
    <h1 class="text-center title">ABOUT US</h1>
    <img class="bg" src="./assets/images/3.jpeg">

</div>

<p class="page-content">

    GalaxyEuro was set up in the UAE by Mr Srinath Naidu in the beginning
    of 2014 to be a SPV for the Italian government QC organization IMQ to
    enter the Middle East and Indian markets. IMQ is a global leader in TIC
    operations and is the world leader in Automobile Testing and
    Certification with most top brands (Lamborgini, Rolls Royce, Mercedes,
    Ferrari, Toyota, Honda) in their kitty.

    <br><br>
    The joint venture activity for IMQ to enter the UAE as a collaborator
    with ESMA was the primary step and was successfully completed in
    2014 and a new company rolled out in UAE under the name of
    GalaxyEuro and later renamed as Gulf-TIC.

    <br><br>

    Then GalaxyEuro under mandate from Gulf-TIC and IMQ started
    creating a similar activity in India collaborating Govt of India with IMQ
    and a top Indian business conglomerate to create a Testing and
    Certification agency in India with a global outlook. On successful
    creation of the activity, GalaxyEuro started work on a broad-based
    spectrum with emphasis on niche business activities in India.
    Meanwhile in South Africa, a project was also undertaken to create a
    Automotive Safety and Tolling process for the RTA as done in the UAE.
    The project was undertaken to automate the South African road
    system. After the successful completion of this process for the UAE and
    the East African area, the re-engineered Indian operation was set up
    and started work with top business names in India under the flag of
    the Indian collaborator.

    <br><br>

    The new reengineered buyin gives GalaxyEuro the strength in the
    market across a basket of unique offerings along with the bandwidth
    across the geo footprint we cover and monitor. GalaxyEuro stands fully
    energized to deliver our unique strategic offers to businesses who
    need our partnership and support. GalaxyEuro is based out of India -
    the fastest growth market in the world and growth is oriented into
    India and Out Of India towards Europe and American markets. China
    and Australia – work is in progress to create a two way business traffic
    with solid bases.
    <br><br>
    Team GalaxyEuro are absolutely Experienced hands on (thus we
    actually understand your need from a practical reality front rather than
    just a billing front), Team GalaxyEuro are Lean and Mean (due to our
    business process - we operate as nano strategic teams, rather than
    holistic large teams - so you get the right portions you need - e.g: success
    story of 1+), Team GalaxyEuro are Energised (we have taken years to
    build the networks in the Corporate word, in the Beauraucracy, with the
    organized workers base too - you get the advantage of hitting the road
    running).

    <br><br>

    GalaxyEuro has as ASSOCIATES, a number of qualified, professional
    and skilled persons in the various specialised areas of the operations.
    The organisation operates in a classical hub and spoke business
    process with a unique tech twist to enable activities be handled by
    specialised persons with hard core and in depth expertise and only the
    hub unit interfaces with clients and manages the sub hub units thru
    the spoke lifeline system, bringing in the expertise to make each sub
    hub into a full fledged business strategy enterprise to give the specific
    client a tailor made process and implement the same if required.
    GalaxyEuro is reengineered to encompass a number of sub activities –
    each as a standalone with its own specilised teams to enable the best
    returns to clientele. We have completed discussion to set up
    representative offices in the United States of America, Germany,
    Kenya, Italy. Dubai, Mauritius, Ghana and China are in progress to
    ensure that any and all clients have full and complete accessibility to
    our services in India - both InBound and OutBound.
    After almost a few years of research across the entire Indian business
    and beauraucracy spectrum, the team zeroed in on specific activities
    that can be undertaken against specific requirements. With the ever
    changing business environs plus the need for quality, speed and ethical
    business the chosen area will be a one stop business assistance
    organization for:

    <br><br>

    A brief synopsis on the activities considered are:


</p>

<div class="row m-0 activities-container">
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>SEZ’s, Customs and Central Excise - "A2Z Assistance"</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>IR & HR Management - "From ILO to State labour issues"</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>Corporate Social Responsibility – "A Win-Win all the way"</p>
    </div>
    <br>
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>Civil Services Magazine - "For, By The Beauraucrats"</p>
    </div>
    <br>
    <div class="col-12 activities">
        <p>India entry assistance, Market to go and OutBound - "India/Europe/US/Africa"</p>
    </div>
</div>

<div class="map-container align-content-center row m-0" (click)="openAddress()" >
    <img class="img-fuild logo" src="./assets/images/map.png">

    <div class="col-md-4  offset-md-8">
        <div class="address-container ">
            <br>
            <img class=" img-fluid" src="./assets/images/header-logo.png">
            <br>
            <p>
                Villa 32, Oorjitha Grand Vie 2, Gundlapochampally Road,
                Kompally, Hyderabad, Telengana, India - 500014
            </p>
        </div>

    </div>

</div>
