<div class="page-container">
    <h1 class="text-center title">ABOUT US</h1>
    <img class="bg" src="./assets/images/3.jpeg">

</div>

<p class="page-content">

    GalaxyEuro was set up in 2014 to be a SPV for the Italian government QC organization IMQ to enter the Middle East and Indian markets. IMQ is a global leader in TIC operations and is the world leader in Automobile Testing and Certification with most top brands (Lamborgini, Rolls Royce, Mercedes, Ferrari, Toyota, Honda) in their kitty. 
<br><br>
The joint venture activity for IMQ to enter the UAE as a collaborator with ESMA was the primary step and was successfully completed in 2014 and a new company rolled out in UAE under the name of GalaxyEuro and later renamed as Gulf-TIC. 
<br><br>
GalaxyEuro was then completely reengineered and reorganized and the new operation was delinked totally from the TIC operations, restructured completely as a stand alone under the current Team Lead to give GalaxyEuro the geo footprint bandwidth in the market across a basket of unique offerings in absolute niche sectors. 
<br><br>
GalaxyEuro stands fully energized to deliver unique strategic offers to businesses who need our partnership and support in multifaceted activities (Mentioned later). 
<br><br>
GalaxyEuro is registered and based out of India -  the fastest growth market in the world and growth is oriented into India and Out Of India into the continents. 
<br><br>
Team GalaxyEuro are experienced and hands on.
Team GalaxyEuro are Lean and cut to the edge. 
Team GalaxyEuro are Energised and lethal in performance.
<br><br>
GalaxyEuro operates in a classical hub and spoke business process with a unique tech twist to enable activities be handled by specialised persons with hard core and in depth expertise and only the hub unit interfaces with clients and manages the sub hub units thru the spoke lifeline system, bringing in the expertise to make each sub hub into a full fledged business strategy enterprise to give the specific client a tailor made process and implement the same if required.
<br><br>
GalaxyEuro is strategically designed to encompass a number of sub activities – each as a standalone with its own specilised teams to enable the best returns to clientele. We have completed discussion to set up representative offices in the United States of America, Germany, Tanzania and Italy.  Dubai, Mauritius, Ghana and China are in progress to ensure that any and all clients have full and complete accessibility to our services in India -  both InBound and OutBound.
<br><br>
The Team Lead is Mr. Sri. N Naidu. An MBA from the prestigious FMS of Delhi University and with 32 years of experience from the grassroot to the C Suite level spanning continents. With a background from India’s top beauraucratic family and political understanding, Sri N Naidu is the Hub of GalaxyEuro.
<br><br>
This coupled with extensive Strategic experience across a plethoria of Domestic and International organisations globally and a career spanning 14 countries plus teaching experience to both freshers and experienced Corporate and Beauraucratic trainees courses in ISB, IIMs, ASCI to name but a few, as a consulting member to some very successful and diversified organbisations -  gives Team GalaxyEuro its unique and niche abilities.
<br><br>
GalaxyEuro after a few years of research across the entire Indian business and beauraucracy spectrum, zeroed in on very unique activities that can be undertaken against specific requirements. Businesses need specialized assistance to be successful in a number of core areas which no business graduate nor financial wizard can assist in, this is the core activity handled by GalaxyEuro.
<br><br>
With the ever changing business environs plus the need for quality, speed and ethical business the chosen area will be a one stop business assistance organization for



</p>

<div class="row m-0 activities-container">
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>SEZ’s, Customs and Central Excise - "A2Z Assistance"</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>IR & HR Management - "From ILO to State labour issues"</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>Corporate Social Responsibility – "A Win-Win all the way"</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>Civil Services Magazine - "For, By The Beauraucrats"</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>Wind Energy, Energy Storage & Technology</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 activities">
        <p>Graduate Expressway</p>
    </div>
    <div class="col-12 activities">
        <p>India entry assistance, Market to go and OutBound - "India/Europe/US/Africa"</p>
    </div>
</div>

<div class="map-container align-content-center row m-0" (click)="openAddress()" >
    <img class="img-fuild logo" src="./assets/images/map.png">

    <div class="col-md-4  offset-md-8">
        <div class="address-container ">
            <br>
            <img class=" img-fluid nav-logo" src="./assets/images/gelogo.jpg">
            <br>
            <p>
                Villa 32, Oorjitha Grand Vie 2, Gundlapochampally Road,
                Kompally, Hyderabad, Telengana, India - 500014
            </p>
        </div>

    </div>

</div>
