<div class="home-header-container">
    <!-- <div class="bg-text">

    </div> -->
</div>

<!-- <div class="activites-container row m-0">
    <div class=" col-lg-4 col-md-4  col-sm-12 ">
        <div class="activity-1"></div>
        <div class="activity-2"></div>
    </div>
    <div class="col-lg-4 col-md-4  col-sm-12 ">
        <div class="activity-5"></div>
    </div>
    <div class="col-lg-4 col-md-4  col-sm-12 ">
        <div class="activity-3"></div>
        <div class="activity-4"></div>
    </div>

</div> -->

<section class="services " data-scroll-index="3">
    <div class="container">
        <div class="row">
            
            <div class="section-head col-sm-12">
                <h4>
                    <span>Our</span><br>
                    Activites
                </h4>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <!-- <span class="icon"><i class="icofont icofont-laptop"></i></span> -->
                    <h6>Dharmaadikaritva Div - SEZ’s, Customs and GST</h6>
                    <p>Over time and after extensive work of a number of years we have understood the activity of the SEZ’s, EOU’s,DTA........</p>
                    <br>
                    <div class="text-right">  <button class="btn read-more-btn">Read More</button></div> 
                   </div> 

                <div class="item">
                    <!-- <span class="icon"><i class="icofont icofont-rocket-alt-2"></i></span> -->
                    <h6>Manava Div - IR & HR Activity    </h6>
                    <p>GalaxyEuro is one of the few organization in the country offering this specialized activity to assist you in........</p>
                    <br>
                    <div class="text-right">  <button class="btn read-more-btn">Read More</button></div> 
                </div>
            </div>
            <div class="col-lg-4 col-md-6" >
                <div class="item" style="height: calc(100% - 30px);"> 
                    <!-- <span class="icon"><i class="icofont icofont-globe-alt"></i></span> -->
                    <h6>Antarastriya Div - India entry assistance, Market to go and
                        OutBound</h6>
                    <p>Today India is the most lucrative market globally. But there is a dearth of persons or organisations with the ability to assist a overseas company enter the local business market.<br>
                        We have a special one on one team for every organization from which ever country, which ever product to assist holistically your need starting from understanding the market, knowing the potential competition, applications, licenses, land acquisition, building, setting up the management team locally to sourcing technical and non- technical workers.........</p>
                        <br>
                        <div class="text-right">  <button class="btn read-more-btn">Read More</button></div> 
                </div>
            </div>
          
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <!-- <span class="icon"><i class="icofont icofont-image"></i></span> -->
                    <h6>Uttaraditva Div - CSR
                     </h6>
                    <p>Today all Indian organisations need to keep a part of their turnover for CSR activity. We have the countries........</p>
                    <br>
                    <div class="text-right">  <button class="btn read-more-btn">Read More</button></div> 
                </div>

                <div class="item">
                    <!-- <span class="icon"><i class="icofont icofont-samsung-galaxy"></i></span> -->
                    <h6>Janapada Seva Div - Civil Services Magazine</h6>
                    <p>We are in process of creating a specialized monthly communication media for some very exclusive organisations......... </p>
                    <br>
                    <div class="text-right">  <button class="btn read-more-btn">Read More</button></div> 
                </div>
            </div>
           
        </div>
    </div>
</section>