<div class="home-header-container">
    <div class="bg-text">

        <div class="row m-0 dynamic-text-container">

            <div class="col-12 align-self-center">
                <h3>We deal with</h3>
                <div id="typewriter"></div>
                <br>
                <button class="btn read-more-btn" (click)="scroll(activies)">View More</button>

            </div>

        </div>

    </div>
</div>


<section class="misson-vision-container">

    <div class="misson-vision-blur-container">

    </div>
    <div class="container">

        <div class="row">

            <div class="col-md-6 col-sm-12">

                <div class="section-head" style="margin-bottom: 0px;">
                    <h4>
                        <span>Our</span><br>
                        Mission
                    </h4>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been
                    the industry's
                </p>
            </div>

            <div class="col-md-6 col-sm-12">

                <div class="section-head" style="margin-bottom: 0px;">
                    <h4>
                        <span>Our</span><br>
                        Vision
                    </h4>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been
                    the industry's
                </p>
            </div>
        </div>

    </div>
</section>


<section #activies class="services " data-scroll-index="3">
    <div class="container">
        <div class="row">

            <div class="section-head col-sm-12">
                <h4>
                    <span>Our</span><br>
                    Activites
                </h4>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <!-- <span class="icon"><i class="icofont icofont-laptop"></i></span> -->
                    <h6>SEZ’s, Customs and Central Excise - "A2Z Assistance"</h6>
                    <p>Over time and after extensive work of a number of years we have understood the activity of the
                        SEZ’s, EOU’s,DTA........</p>
                    <br>
                    <div class="text-right"> <button class="btn read-more-btn" [routerLink]="['/dharmaadikaritva']">Read More</button></div>
                </div>

                <div class="item">
                    <!-- <span class="icon"><i class="icofont icofont-rocket-alt-2"></i></span> -->
                    <h6>IR & HR Management - "From ILO to State labour issues" </h6>
                    <p>GalaxyEuro is one of the few organisations in the country offering this specialized activity to
                        assist you in........</p>
                    <br>
                    <div class="text-right"> <button class="btn read-more-btn" [routerLink]="['/manava']">Read More</button></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item" style="height: calc(100% - 30px);">
                    <!-- <span class="icon"><i class="icofont icofont-globe-alt"></i></span> -->
                    <h6>India entry assistance, Market to go and OutBound - "India/Europe/US/Africa"</h6>
                    <p>Today India is the most lucrative market globally. But there is a dearth of persons or
                        organisations with the ability to assist a overseas company enter the local business market.<br>
                        We have a special one on one team for every organization from which ever country, which ever
                        product to assist holistically your need starting from understanding the market, knowing the
                        potential competition, applications, licenses, land acquisition, building, setting up the
                        management team locally to sourcing technical and non- technical workers.........</p>
                    <br>
                    <div class="text-right"> <button class="btn read-more-btn" [routerLink]="['/antarastriya']">Read More</button></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <!-- <span class="icon"><i class="icofont icofont-image"></i></span> -->
                    <h6>Corporate Social Responsibility – "A Win-Win all the way"
                    </h6>
                    <p>Today all Indian organisations need to keep a part of their turnover for CSR activity. We have
                        the countries........</p>
                    <br>
                    <div class="text-right"> <button class="btn read-more-btn" [routerLink]="['/uttaraditva']">Read More</button></div>
                </div>

                <div class="item">
                    <!-- <span class="icon"><i class="icofont icofont-samsung-galaxy"></i></span> -->
                    <h6>Civil Services Magazine - "For, By The Beauraucrats"</h6>
                    <p>We are in process of creating a specialized monthly communication media for some very exclusive
                        organisations......... </p>
                    <br>
                    <div class="text-right"> <button class="btn read-more-btn" [routerLink]="['/janapada-seva']">Read More</button></div>
                </div>
            </div>

        </div>
    </div>
</section>