<div class="page-container">
    <h1 class="text-center title">Civil Services Magazine</h1>
    <img class="bg" src="./assets/images/civil.jpg">

</div>

<p class="page-content">
    <b>About AKASHAMANTHA</b><br>
    Akashamanta is a unique magazine which will serve India, its Beauraucracy and the Civilian population. It transmits the ideas of India’s Beauraucratic leadership in written format for all to learn and for every citizen to become a part of India’s economic growth while maintaining safety, security and keeping the environment clean and habitable. 
<br><br>
As India grows into a superpower, we need clearer thoughts, understanding of the vision of the leadership who bring together the nations and her citizens requirements and create a strategy for growth. 
<br><br>
Akashamanta will bring the Beauraucracy, the corporate sector and the Civilian population into direct understanding with each other and help offset ideas which will metamorphosis our thoughts into action into reality implementation thru cross pollinated thoughts and ideas.
<br><br>
The objective of the Akashamanta is to highlight the conscientious work done by the Beauraucracy which generally goes unnoticed and unsung in the mainstream media and in line with the citizens of India. This magazine will serve  as a communication bridge and a platform for greater Bureaucratic – Community Relationship.
<br><br>
The objective of the Beauraucracy is to serve, protect and help in the growth of the community and the environment. Constant communication with the community is the Mantra for improving the public perception of the All India Services. 
Akashamanta reflects this commitment and the values that the Beauraucracy stands for.
<br><br>
The magazine carries an in-depth analysis and coverage of the governance process. It has an interesting content, news and interviews of the Policy makers, Officers and Opinion makers.
<br><br>
AKASHMANTHA incorporates feedback and commentary from the civil society, for the benefit of the governance. It facilitates the civil society in keeping abreast of the latest updates on governance, security, safety and environment of the city/state.
<br><br>
The readers of AKASHMANTHA include Officers of the Administration(IAS), Police(IPS), Forest(IFS), Revenue(IRS, IAAS, IES), Corporates, Academics, NGOs and the General public.
<br><br>
This aside, we have the following editorial and designing services in our direct reach.
<br><br>
Content Research: Our team of seasoned researchers help, collate data and information, even on a short deadline.
Content Writing: We have highly-qualified English-speaking writers to give your publication that superior edge.
Translation & Proofreading – English to just about any language and vice-versa, along with the first line of proof editing and correction.
Designing & Typesetting – A fast, up dated and efficient team to design covers, brochure, books and pages.
Magazine and Book Designing – Our designers produce attractive publications.
Printing – Quality printing.
E-Magazine -  For the technology forward, the password driven e- magazine to read in either your Smart phone or PC.
<br><br>
<b>OUR READER</b><br>
For Akashamanta, the Reader is the king. He is our client, customer and counsel. For us, he assumes various forms of prestige and power; from the Head of State, industrialists, diplomats, traders, information vendors, banks and money lenders, academics, journalists and of course, entrepreneurs are all our readers. There are also the students and housewives - they are the future of our country.
</p>