<div class="page-container">
    <h1 class="text-center title">Civil Services Magazine</h1>
    <img class="bg" src="./assets/images/sez-image.jpg">

</div>

<p class="page-content">
    <span>
        We are in process of creating a specialized monthly communication
        media for some very exclusive organisations, some have already been
        done on a Build for the organisation process.
    </span><br>
    <br>
    <span>
        We are now creating the same for the All India Services of the India
        Beauraucracy involving the IAS, IPS, IFS. This is a very unique and
        exclusive magazine and will reach the top most echleons of the
        government. It will be very tailormade, language and state specific. We
        will also do this for some very exclusive clientele.
    </span><br><br>
    <span>
        A person of national repute in the Editorial field with a very deep
        knowledge in the Business Newspaper arena is on the anvil to
        spearhead and to ensure that this is of International quality with
        Indian readability.
    </span><br><br>
    <span>
        GalaxyEuro (Akashamanta) is India’s newest niche magazine, with a
        strong global focus and outlook. The magazine will offer a complete
        end to end communication solution from the AIS top management to
        the public and to the officers down the lin. Plus it will give the public a
        opportunity to connect with the Administration directly to clear their
        doubts and get answers.
    </span><br><br>
    <span>
        It’s a unique dual carriageway tool in English and the local language.
        At a time, when India is emerging with speed as a global economic
        player, Akashamanta celebrates the spirit of enterprise; for it is the
        spirit of enterprise that is at the heart of any great economic success
        story.
    </span><br><br>
    <span>
        Since, its inception, Akashamanta has strived and succeeded in
        planning the process ahead to create this connects. The objective is to
        connect major wealth creators across the specified geo footprint and
        forge them into a vibrant socio economic community. The Mission of
        this media venture, based out of India’s fastest growing city of
        Hyderabad, is to ensure that the community and the state contribute
        to each other’s prosperity.
    </span><br><br>
    <span>
        For us, this is merely the beginning. We are determined to push the
        boundaries of creative writing, in pursuit of our mission of connecting the Beauraucracy and the civilian
        community. Our dreams go beyond
        that. Our dreams – in our own humble way – are of trying to make a
        difference to this world through work, that is beneficial not just to the
        community but to the society at large. For us, this is merely the
        beginning.
    </span><br>
    <br>
    <span style="font-weight: bold !important;">About AKASHAMANTHA</span><br><br>
    <span>
        Akashamanta is a unique magazine which will serve India, its
Beauraucracy and the Civilian population. It transmits the ideas of
India’s Beauraucratic leadership in written format for all to learn and
for every citizen to become a part of India’s economic growth while
maintaining safety, security and keeping the environment clean and
habitable.<br><br>
As India grows into a superpower, we need clearer thoughts,
understanding of the vision of the leadership who bring together the
nations and her citizens requirements and create a strategy for
growth.<br><br>
Akashamanta will bring the Beauraucracy, the corporate sector and
the Civilian population into direct understanding with each other and
help offset ideas which will metamorphosis our thoughts into action
into reality implementation thru cross pollinated thoughts and ideas.<br><br>
The objective of the Akashamanta is to highlight the conscientious
work done by the Beauraucracy which generally goes unnoticed and
unsung in the mainstream media and in line with the citizens of India.
This magazine will serve as a communication bridge and a platform
for greater Bureaucratic – Community Relationship.<br><br>
The objective of the Beauraucracy is to serve, protect and help in the
growth of the community and the environment. Constant
communication with the community is the Mantra for improving the
public perception of the All India Services.
Akashamanta reflects this commitment and the values that the
Beauraucracy stands for.<br><br>

The magazine carries an in-depth analysis and coverage of the
governance process. It has an interesting content, news and interviews
of the Policy makers, Officers and Opinion makers.<br><br>
AKASHMANTHA incorporates feedback and commentary from the
civil society, for the benefit of the governance. It facilitates the civil
society in keeping abreast of the latest updates on governance,
security, safety and environment of the city/state.<br><br>
The readers of AKASHMANTHA include Officers of the Administration,
Police, Forest, Revenue, Corporates, Academics, NGOs and the General
public.<br><br>
This aside, we have the following editorial and designing services in
our direct reach.<br><br>
Content Research: Our team of seasoned researchers help, collate data
and information, even on a short deadline.
Content Writing: We have highly-qualified English-speaking writers to
give your publication that superior edge.
Translation & Proofreading – English to just about any language and
vice-versa, along with the first line of proof editing and correction.
Designing & Typesetting – A fast, up dated and efficient team to design
covers, brochure, books and pages.
Magazine and Book Designing – Our designers produce attractive
publications.
Printing – Quality printing.

E-Magazine - For the technology forward, the password driven e-
magazine to read in either your Smart phone or PC.
    </span>
</p>