<div class="page-container">
    <h1 class="text-center title">Wind Energy, Energy Storage & Technology</h1>
    <img class="bg" src="./assets/images/we.jpg">

</div>

<p class="page-content">
    GalaxyEuro thru its global networks is connected to cutting edge technology inventors with highly cost effective products not yet available in India nor known. These inventors include organisations of very high repute the Silicon Valley (USA), in Germany, Japan and South Korea.
<br><br>
Many of these organisations are looking for entry into India both on sale purchase as well as technology transfer thru JV’s. These are all specialized cutting edge technology companies and can offer entreprenuers in India an option to broadbase their businesses as well as manufacture and export to developed countries.


</p>