<div class="page-container">
    <h1 class="text-center title">CSR</h1>
    <img class="bg" src="./assets/images/sez-image.jpg">

</div>

<p class="page-content">
    <span>
        Today all Indian organisations need to keep a part of their turnover for
        CSR activity. We have the countries first specialists in this sector with
        a pedigree ranging from the top most conglomerates downward.
        
    </span><br>
    <br>
    <span>
        We do tailor made projects which will not only help you with your CSR
        requirement but also involve your management and workers leading
        to a Team Build activity, assist in the entire process of CSR
        administration ensuring total accountability and connect you with the
        right NGO’s who we manage if needed on your behalf.
        
    </span><br><br>
    <span>
        Using our amalgamated skill sets with over 25 specialised persons
        from over a cumulative 150 backgrounds, Unique projects will be
        crafted to suit each and every client to get the maximum benefit and
        
        create business excellence. This will be a two way system with a win-
        win for both the NGO’s and the Corporates.
        
        
    </span><br><br>
    <span>
        GalaxyEuro boasts of a Resource person who was instrumental in
creating India’s very first CSR company.
    </span>
</p>