<div class="page-container">
    <h1 class="text-center title">IR & HR Management</h1>
    <img class="bg" src="./assets/images/sez-image.jpg">

</div>

<p class="page-content">
    <span>
        Over time and after extensive work of a number of years we have
        understood the activity of the SEZ’s, EOU’s,DTA and the challenges
        faced by both the organizations within and the SPV’s. We have carried
        out very successfully a number of activities right from entry to start of
        business operations.
    </span><br>
    <br>
    <span>
        This experience has given us ground level first-hand knowledge which
        we are now using to help other organizations to benefit from. Our
        network encompasses A2Z of the business sector requirements in the
        SEZ’s, EOU’s,DTA. Thus we are the only team able to deliver the best,
        fastest and most economical returns, in highly complex multi
        department, multi ministry situations.
    </span><br><br>
    <span>
        GalaxyEuro is well specialized in assisting clients with complex
        government rules and regulations with a analytical approach to solve
        the most complex issues and problems with solutions in line with the
        requirements. GalaxyEuro assist the client by undertaking all the
        intricate processes with a subtle and clear cut approach ending with a
        win-win situation.
    </span>
</p>