<div class="page-container">
    <h1 class="text-center title">IR Management</h1>
    <img class="bg" src="./assets/images/ir.png">

</div>

<p class="page-content">
    GalaxyEuro is one of the few organization in the country offering this specialized activity to assist you in your business in general, with specific emphasis in SEZ’s or in EoU’s. 
<br><br>
    We also provide guidance and assistance in this sector with the Comissioner of Labour offices and advice on how to adehere to the set rules and regulations. 
    <br><br>
    We assist your teams interact with the workers to maintain peace and increase productivity in your industry. 
    <br><br>
    GalaxyEuro helps the client management get the best out of your workers and also take professional classes to improve the work ethos of the organization at the grass root level. 
    <br><br>
    We help the workers and their families become part of the organisation culture, we lend a help line for workers problems in connect with the client IR Team, help in drug abuse, alchoholism, POSH issues. 
    <br><br>
    We also have specilaised assistance in various Laour Commission issues right upto the United Nations -  ILO level.
    <br><br>
    This is a very specialized activity and we have top notch specialists in the sector working closely with us to give the client the best business advantage. The speciality of GalaxyEuro is that we assist you network with the various workers unions across the spectrum also.
    
</p>


<div class="page-container">
    <h1 class="text-center title">HR Management</h1>
    <img class="bg" src="./assets/images/hr.jpg">

</div>

<p class="page-content">
    We have the best set of HR recruiters and trainers as a network across IT, Manufacturing, Automotive sectors. With a combined expertise of over 200 years across the network we can help your organisation change its style, attitude and inculcate a CAN DO mind set. 
<br><br>
    We have the ability to restructure and reorganize your organisationas required by the management of the organisation keeping the best interests of all stake holders. Stress Management, Managerial Advisory, Help Line are a few specialized assistance areas.
    <br><br>
    Eco Tourism and Corporate Management Stress Buster activities will be an intergral part of this sector. GalaxyEuro will most likely be the first and only organisation having these exclusive activities.
    <br><br>
    We have an exclusive bandwidth with the ability to assist your organisation in dealing with the government departments in the states of Telangana and Andhra Pradesh with specific emphasis on Compliances, Licences, Tax matters.
    
</p>